@import 'reset.css';
@import 'font.css';

body{
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 18px;
    color: #B1B1B1;
}
.menu{
    padding: 55px 0;
    display: flex;
    justify-content: center;
}
.menu__item{
    margin: 0 60px;
}
.menu__link{
    font-family: 'Open Sans Bold', sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: #323232;
    transition: color ease .3s;
}
.menu__link:hover{
    color: #2684F7;
}
.menu__link-active{
    color: #2684F7;
}
.content-container{
    width: 1404px;
/*    height: 740px;*/
    margin: 0 auto;
    background: #EAEBED;
    border-radius: 30px;
    padding: 5px;
}

.left-side-menu{
    background: #FEFEFE;
    border-radius: 30px;
    height: 420px;
    width: 105px;
    margin: 170px 23px 135px 23px;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    

}
.left-side-menu__item{

    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.left-side-menu__link{
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    text-align: right;
    overflow: hidden;
    transition: all ease 0.7s;

}

.left-side-menu__link_active {
    background-color: #2684F7;
}
.left-side-menu__link_active::before{
    filter: invert(100%);
}
.left-side-menu__link::after{
    content: 'Project';
    position: absolute;
    left: 65px;
    top: 50%;
    margin-top: -8px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    

}
.left-side-menu__item .left-side-menu__link::before{
    content: '';
    background:url("../img/png/folder.png")no-repeat center;
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;

}
.left-side-menu__item:nth-child(2) .left-side-menu__link::after{
    content: 'Account'
}
.left-side-menu__item:nth-child(2) .left-side-menu__link::before{
    background:url("../img/png/monitor.png")no-repeat center;
}
.left-side-menu__item:nth-child(3) .left-side-menu__link::after{
    content: 'Groups'
}
.left-side-menu__item:nth-child(3) .left-side-menu__link::before{
    background:url("../img/png/groups.png")no-repeat center;
}
.left-side-menu__item:nth-child(4) .left-side-menu__link::after{
    content: 'Cloud'
}
.left-side-menu__item:nth-child(4) .left-side-menu__link::before{
    background:url("../img/png/cloud.png")no-repeat center;
}
.left-side-menu__item:nth-child(5) .left-side-menu__link::after{
    content: 'Settings'
}
.left-side-menu__item:nth-child(5) .left-side-menu__link::before{
    background:url("../img/png/sett.png")no-repeat center;
}
.left-side-menu__link:hover::before{
    filter: invert(100%);
}

.left-side-menu__link:hover{
    width: 150px;
    background-color: #2684F7;
}
.content-header{
    width: 1215px;
    float: right;
    display: flex;
    justify-content: space-between;
    margin-right: 23px;
}
.content-header__item{
    padding: 45px 40px;
    margin-top: 80px;
    background: #fff;
    width: 590px;
    border-radius: 30px;
}
.content-header__description{
    line-height: 25px;
}
.content-header__titel{
    font-size: 25px;
    color: #323232;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    line-height: 33px;
}

.main-content{
    float: right;
    display: flex;
    justify-content: space-between;
    margin-right: 23px;
    width: 1215px;
    line-height: 29px;
}
.main-content__left{
    width: 730px;
}
.main-content__right{
    width: 445px;
}
.main-content__item{
    margin-top: 35px;
    padding: 35px 40px;
    background: #ffff;
    border-radius: 30px;
}
.main-content__data-img{
    background: url(../img/data.jpg);
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    background-size: 120px 120px;
    margin-bottom: 40px;      
}
.main-content__team-img{
    background: url(../img/team.jpg);
    background-repeat: no-repeat;
    width: 120px;
    height: 130px;
    background-size: 120px 130px;
    display: inline-block;
}
.main-content__team-text-box{
    display: inline-block;
    width: 365px;
    margin-left: 40px;
}

.team{
    width: 100%;
    height: 100%;
    padding: 56px 34px 27px 34px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.team__card{
    background: #fff;
    padding: 50px 40px 50px 40px;
    width: 300px;
    text-align: center;
    border-radius: 40px;
    margin-bottom: 23px;
    position: relative;
}
.team__del{
    background-color: #fff;
    position: absolute;
    width: 82px;
    height: 76px;
    border-radius: 20px;
    top: -38px;
    right: -41px;
    display: none;
}
.team__del::after{
    content: '';
    position: absolute;
    background: url('../img/png/trash-bin.png')no-repeat center;
    top: 50%;
    left: 50%;
    margin-top:-17px;
    margin-left: -14px;
    width: 30px;
    height: 34px;
}
.team__img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50px; 
    
}
.team__img-1{
        background-image: url('../img/1.jpg');
        

}
.team__img-2{
        background-image: url('../img/2.jpg');

}
.team__img-3{
        background-image: url('../img/3.jpg');

}
.team__img-4{
        background-image: url('../img/4.jpg');

}
.team__img-5{
        background-image: url('../img/5.jpg');

}
.team__img-6{
        background-image: url('../img/6.jpg');

}
.team__img-7{
        background-image: url('../img/7.jpg');

}
.team__img-8{
        background-image: url('../img/8.jpg');

}
.team__titel{
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #323232;
    margin: 15px;
}
.team__card:hover{
    background-color: #2684F7;
    cursor: pointer;
    color: #fff;
    transition: background-color ease 0.4s;
}
.team__card:hover .team__del{
    display: block;
}
.team__card:hover .team__titel{
    color: #fff;
}
.team__date{
    margin-top: 30px;
}
.lessons{
    padding: 140px 85px;
}

.lessons__table{
    width: 100%;
/*    border-spacing: 10px 10px;*/
    border-radius: 20px;
}
.btn{
    width: 35px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 11px;
    display: inline-block;
    border: 1px solid grey;
    position: relative;
}
.btn::after{
    content: "";
    background-image: url('../img/Page%201.png');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    filter: invert(80%);
    width: 35px;
    height: 35px;
    left: -1px;
}

td,th{
    text-align: center;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #323232;
    padding: 20px;
}

tr:nth-child(n+2):hover{
    background: #fff;

}
 .lesson__active {
    background: #fff;
}
.lessons td:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.lessons td:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.check{
    width: 35px;
    height: 35px;
    position: relative;
}
.lessons input[type="checkbox"] {
    display: none;
}
.check::before{
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    padding-top: 5px;
    border-radius: 10px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid grey;
    cursor: pointer;

}
input:checked + .check::before{
    content: "\2713";
    background: #2785F7;
    color: #fff;
    text-align: center;
}

.content-header__profile{
    display: flex;
    align-items: center;
    width: 65px;
    height: 65px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 100%;
    color:#fff;
    font-size: 40px;
    box-sizing: border-box;
    font-weight: bold;
}
.acoount__header{
    display: flex;
}
.account__text{
    margin-left: 40px;
}
.content-header__profile_red{
    background: #F24F5E;
}
.content-header__profile_blue{
    background: #2785F7;
}
.account{
    display: flex;
}
.account__password .content-header__item{
    margin-top: 20px;

}
.form{
    background: #fff;
    border-radius: 30px;
    box-sizing: border-box;
    /* width: 520px; */
}
.account__password{
    height: 520px;
    
}
.account__form h2{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.account__form input{
    border: 2px solid #C0C0C0;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
}
.account__form input:focus, .account__form textarea:focus{
    border: 2px solid #2785F7
}
.account__form{
    width: 520px;
    margin: 0 auto;
}
.account__form label:nth-child(n+2){
    margin-top:15px;
    display: block;
}
.account__company{
    margin-left: 15px;
}
.company textarea{
    padding: 20px;
    height: 100px;
    margin-top: 20px;
    border-radius: 30px;
    resize: none;
    width: 100%;
    border: 2px solid #C0C0C0;
}
.detail-address{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.detail-address .right, .detail-address .left{
    width: 45%;
}
.account__company{
    height: 695px;
}